.projectTitle {
    text-align: center;
    color: #6E07F3;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 768px) { 
        font-size: 1.5rem;
      }
}

.projects-grid {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    margin: 20px 60px;
    padding: 20px;
    
    @media (max-width: 768px) {
        grid-template-columns: 1fr; 
        margin: 10px;
        padding: 10px;
      }

    .project {
        background-color: #2d3e79;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.05);
        }

        h3 {
            margin-top: 10px;
        }

        p {
            color: #fff;
        }

        a {
            color: #fff;
        }

        .tech-stack {
            display: flex;
            flex-wrap: wrap;

            span {
                background-color: #fff;
                padding: 5px 10px;
                border-radius: 20px;
                margin: 0 5px 10px 0;
            }
        }

        .members {
            background-color: #fff;
            color: #504545;
            padding: 5px 10px;
            width: fit-content;
            border-radius: 20px;
        }
    }
}