// Mixins
@mixin transition($props...) {
    transition: $props;
}

@mixin animate($name, $duration) {
    animation: $name $duration ease infinite alternate;
}


.contact {
    background-color: #8686860d;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .left {
        padding: 0;
        left: 0;
        position: relative;

    }

    .right {
        position: relative;
    }

    .helloImg {
        // position: absolute;
        // right: 0;
        // bottom: 0;
        // height: 90%
    }
}

.profile-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 15px;

    a {
        color: #002938;
        margin: 0.5rem;
        @include transition(all 0.3s);

        &:hover {
            @include animate(rubberBand, 1s);
        }
    }

    svg {
        font-size: 3rem;
    }
}

.text{
    font-size: 1.2rem;
    line-height: 1.5;
    color: #333;
    margin: 0 auto;
    padding: 5px;  
    position: relative;
    text-align: center;
}

// Animations 
@keyframes rubberBand {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}