// Mixins
@mixin transition($props...) {
    transition: $props;
}

@mixin animate($name, $duration) {
    animation: $name $duration ease infinite alternate;
}

.contact {
    background-color: #8686860d;
    display: flex;
    justify-content: space-between;

    .left {
        padding: 0;
        left: 0;
        position: relative;

    }

    .right {
        position: relative;
    }

    .helloImg {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 90%
    }
}

.profile-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 15px;

    a {
        color: #002938;
        margin: 0.5rem;
        @include transition(all 0.3s);

        &:hover {
            @include animate(rubberBand, 1s);
        }
    }

    svg {
        font-size: 3rem;
    }
}

.formContainer {
    align-items: center;
    padding: 20px;
    margin: 20px;

    // Message form
    .message-form {
        padding: 2rem;  
        width: 500px;
        max-width: 100%;
        margin-left: 50px;

        .email-input {
            width: 100%;
            margin: 5px;
            padding: 10px;
            font-size: 1.2rem;

        }

        .message-input {
            margin: 5px;
            width: 100%;
            padding: 10px;
            font-size: 1.2rem;
        }


        .submit-button {
            margin: 5px;
            padding: 0.7rem 1.2rem;
            color: #fff;
            cursor: pointer;
            background-color: #002938;
            @include transition(transform);
        }
    }
}


// Animations 
@keyframes rubberBand {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}